@charset "UTF-8";

.main-header {width: 100%; padding: 30px 10px 24px; background-color: white; box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2); transition:background-color 0.2s;}
.main-header.contrast {background-color: transparent; box-shadow: none;}
.main-header .header-contents {margin: 0 auto; max-width: 1040px; width: 100%;}


