@charset "UTF-8";

body {background-color: #f5f5f5;}

.transparent {background-color: transparent;}

.work-contents {width: 88%; position: relative; z-index: 0;}
.work-basic-layout {width: 990px; margin: 101px auto 0; padding: 0 15px;}
.work-basic-layout .work-basic-layout-lnb {float: left; width: 26%;}

.navbar {width: auto; height: 100%; padding-right: 20px; box-sizing: border-box;}
.navbar-myprofile {margin-bottom: 10px; border: 1px solid #dcdfe4; border-radius: 2px; background-color: white;}
.navbar-myprofile .navbar-myprofile-wrap {position: relative;}
.navbar-myprofile .navbar-myprofile-wrap .navbar-myprofile-image {position: absolute; top: 19px; left: 14px;}
.navbar-myprofile .navbar-myprofile-wrap .navbar-myprofile-image .navbar-myprofile-avatar{display: block; margin: 0 auto;}
.avatar {display: inline-block; position: relative; border-radius: 50%; background-color: #ebebeb; background-origin: padding-box; background-position: 50% 50%; background-size: cover; box-shadow: inset 0 0 1px rgb(0,0,0,0.2); vertical-align: top;}

.navbar-myprofile .navbar-myprofile-wrap .navbar-myprofile-name {padding: 30px 0 23px 79px; line-height: 18px; max-width: 116px;}
.navbar-myprofile a {display: block;}
.navbar-myprofile .navbar-myprofile-wrap .navbar-myprofile-name .navbar-myprofile-id {font-weight: bold; font-size: 15px; color: #202239; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.navbar-myprofile .navbar-myprofile-wrap .navbar-myprofile-name .navbar-myprofile-nickname {font-size: 13px; color: #202239; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.navbar-myprofile .navbar-myprofile-wrap .navbar-myprofile-name .navbar-myprofile-nickname a {color: #9c9c9c; text-decoration: underline !important;}

.navbar-mylist {overflow: hidden; width: 100%; border-top: 1px solid #ecedef;}
.navbar-mylist li {float: left; width: 25%; height: 63px; text-align: center;}
.navbar-mylist li:first-child a {border-left: 0 none;}
.navbar-mylist li a {display: block; overflow: hidden; height: 100%; border-left: 1px solid #ecedef; font-size: 11px; color: #888888;}
.navbar-mylist li .mylist-item-text {display: block;}

.navbar-member-buttons {overflow: hidden; margin-bottom: 10px; border: 1px solid #dcdfe4; border-radius: 2px; background-color: white;}
.navbar-member-buttons.transparent li{clear:both; float:inherit;}
.navbar-member-buttons li:first-child {border-right: none;}
.navbar-member-buttons li {width: 100%; height: 44px; line-height: 45px; text-align: center; float: left; box-sizing: border-box;}
.navbar-member-buttons li a {display: block; padding-right: 2px; font-size: 14px; color: #5a86dd;}


.navbar-member-buttons.navbar-member-buttons-dual li:first-child {border-right: 1px solid #ecedef; }
.navbar-member-buttons.navbar-member-buttons-dual li {width: 50%;}
.navbar-member-buttons.navbar-member-buttons-dual li:last-child {display: block;}

.navbar-groups-new {position: relative; height: 46px; border-radius: 2px; background-color: #5a86dd;}
.navbar-groups-new .groups-new {display: block; line-height: 47px; width: 100%; text-align: center; left: 5px; font-size: 14px; font-weight: 400; color: white;}

.navbar-groups-option {overflow: hidden; padding: 3px 0 2px; border-bottom: 1px solid #eeeeef; line-height: 32px;}
.screen-out {overflow: hidden; position: absolute; width: 0; height: 0; line-height: 0; text-indent: -9999px;}
.navbar-groups-option button, .navbar-groups-option a {display: inline-block; line-height: 32px; font-size: 13px; color: #979797;}
.navbar-groups-option button {float: right; border: 0 none; border-radius: 0; background-color: transparent; cursor: pointer; outline: none;}

.navbar-groups-list {padding: 4px 0 17px;}
.navbar-groups-list .groups-item {padding: 1px 0; border-bottom: 1px solid #e9e9e9; width: 100%;}
.navbar-groups-list .groups-item .groups-item-title {display: block; position: relative; height: 36px; padding-left: 24px; font-weight: 200; font-size: 14px; line-height: 37px; color: #222;}
.navbar-groups-list .groups-item .groups-item-title .groups-item-name {display: inline-block; overflow: hidden; max-width: 85%; font-weight: 600; white-space: nowrap; text-overflow: ellipsis; vertical-align: top;}
.navbar-groups-list .groups-item .groups-item-title .groups-item-count {display: inline-block; vertical-align: top;}
.navbar-groups-list .groups-item .groups-item-title .groups-folding-icon {position: absolute; top: 10px; left: 0; width: 14px; height: 14px; border: 1px solid #bfbfbf; border-radius: 14px; background-color: white;}

.groups-category-list {padding: 0 0 12px 16px;}
.groups-category-list .category-item {position: relative; height: 25px; line-height: 26px; border-radius: 2px; display: block;}
.groups-category-list .category-item a {display: block; overflow: hidden; padding: 0 22px 0 8px; font-size: 14px; color: #808080;}


.work-basic-layout .work-basic-layout-body {float: left; position: relative; width: 74%; margin-bottom: 50px;}
.homepage .home-page-header {color: #363041; margin-bottom: 10px;}
.homepage .home-page-header h2 {display: inline-block; font-weight: 500; float: left; font-size: 16px; line-height: 30px;}
.homepage .home-page-header .home-page-header-link-to {display: inline-block; float: right; font-size: 13px; line-height: 16px;}
.homepage .home-page-header .home-page-header-link-to a {display: inline-block; color: #868686; padding: 6px 11px 6px 8px; border: 1px solid #dcdfe4; border-radius: 3px;}
.homepage .home-page-header:after {content: ""; display: block; clear: both;}

.scroll-container {overflow-x: visible; overflow-y:auto; outline: navy;}
.scroll-container.scroll-container--window {overflow: visible;}

.wall-thread {margin-bottom: 15px; border: 1px solid #dcdfe4; border-radius: 3px; background-color: white; box-shadow: 0 1px 1px rgba(0,0,0,0.05); outline: none;}
.wall-thread-parent {padding: 0 20px 20px;}
.wall-thread-parent:before {display: block; overflow: hidden; clear: both; content: '';}
.wall-msg-group-title {padding: 20px 0 14px; border-bottom: 1px solid #e5e5e5; font-weight: normal; font-size: 14px; line-height: 1;}
.wall-msg-group-title a {color: #333;}

.wall-feed-msg {margin-top: 15px; margin-bottom: 10px; padding-left: 58px; transition : opacity 0.2s cubic-bezier(0.4, 0, 1, 1);}
.wall-feed-msg-content {position: relative;}
.wall-feed-msg-content .wall-feed-msg-profile {position: absolute; top: 0; left: -60px; width: 52px; height: 52px;}
.ra-popover__trigger {display: inline-block; vertical-align: top; cursor: pointer;}

.wall-feed-msg-content .wall-feed-msg-body {position: relative; top: 5px; padding: 0;}
.wall-feed-msg-content .wall-feed-msg-body .wall-feed-msg-actor {display: inline-block; margin-right: 3px; font-weight: bold; font-size: 13px; line-height: 21px;}
.wall-feed-msg-content .wall-feed-msg-body .wall-feed-msg-msg {font-size: 13px; margin-top: 15px;}
.wall-feed-msg-content .wall-feed-msg-body .wall-feed-msg-msg .message {display: inline;}
.wall-feed-msg-content .wall-feed-msg-body .wall-feed-msg-msg .message .marked {display: inline;}
.message * {color: inherit; font-size: inherit; line-height: inherit;}
.wall-feed-msg-content .wall-feed-msg-body .wall-feed-msg-msg .message .marked p:first-child, .wall-feed-msg-content .wall-feed-msg-body .wall-feed-msg-msg .message .marked div.marked__paragraph 
	{
		display: inline;
	}

.message div.marked__paragraph {margin-bottom: 0; word-wrap: break-word; word-break: break-all;}
.message div.marked__paragraph--empty {height: 15px;}

.wall-feed-msg-content .wall-feed-msg-body .wall-feed-msg-meta {font-weight: 400; font-size: 12px; color: #979797;}
.wall-feed-msg-content .wall-feed-msg-body .wall-feed-msg-meta a {color: #979797;}


.category-page .page-header {margin-bottom: 10px;}
.page-header {position: relative;}
.tab {border-bottom: 2px solid #485060;}
.tab .tab__item {display: inline-block; height: 46px; padding: 0 20px; background-color: #fff; border: 1px solid #dcdfe4; border-bottom: none; color: #a6a6a6; font-size: 14px; line-height: 46px; vertical-align: top;}
.tab .tab__item.tab__item--active {color: #497bd8;}
.tmp-cate-editor {
    overflow: hidden;
    min-height: 700px;
    border-top: 1px solid #dcdfe4;
    border-bottom: 1px solid #dcdfe4;
    background-color: #fff;
    color: #404040;
}

.tmp-cate-editor .tmp-cate-editor-cates {float: left;box-sizing: border-box;width: 288px; min-height: 700px; border-left: 1px solid #dcdfe4;}
.tmp-cate-editor .tmp-cate-editor-cates .tmp-cate-editor-cates_header {position: relative; padding: 14px 20px; border-bottom: 1px solid #dcdfe4; background-color: #f5f5f5; line-height: 20px;}
.tmp-cate-editor .tmp-cate-editor-cates .tmp-cate-editor-cates_content .tmp-cate-editor-cates__item {overflow: hidden; position: relative; height: 48px; margin: -1px; border: 1px solid #dcdfe4; line-height: 48px;}
.tmp-cate-editor .tmp-cate-editor-cates .tmp-cate-editor-cates_content .tmp-cate-editor-cates__item.tmp-cate-editor-cates__item--selected {color: #5a86dd;}
.tmp-cate-editor .tmp-cate-editor-cates .tmp-cate-editor-cates_content .tmp-cate-editor-cates__item .tmp-cate-editor-cates__item-body {position: relative;height: 100%;margin-left: 20px;margin-right: 50px;}
.tmp-cate-editor .tmp-cate-editor-cates .tmp-cate-editor-cates_content .tmp-cate-editor-cates__item .tmp-cate-editor-cates__item-body .tmp-cate-editor-cates__item-name {overflow: hidden; width: 160px; height: 100%; text-overflow: ellipsis; white-space: nowrap;}

.tmp-cate-editor .tmp-cate-editor-groups {min-height: 700px; margin-left: 288px; border-left: 1px solid #dcdfe4; border-right: 1px solid #dcdfe4;}
.tmp-cate-editor .tmp-cate-editor-groups .tmp-cate-editor-groups_header {position: relative; height:48px; padding-left:16px; border-bottom : 1px solid #dcdfe4; background-color: #f5f5f5;line-height: 48px;}
.ra-checkbox {display: inline-block; overflow: hidden; position: relative; width: 18px; height: 18px; vertical-align: middle;}
.ra-checkbox input {position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 100%; border: none; opacity: .01; cursor: pointer;}
.ra-checkbox .ico-check {position: absolute; left: 0; top: 0; width: 16px; height: 16px; border: 1px solid #d8d8d8; background-color: white;}
.ico {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    text-align: center;
    text-indent: 0;
    vertical-align: middle;
}

.ra-checkbox input:checked + .ico-check, .ra-checkbox.ra-checkbox--active .ico-check {
    border-color: #5985E0;
    background-color: #5985E0;
}

.tmp-cate-editor .tmp-cate-editor-groups .tmp-cate-editor-groups_header .tmp-cate-editor-groups__header-select {
    position: absolute;
    top: 9px;    
    right: 99px;
    width: 220px;    height: 30px;
    border: 1px solid #e3e3e4;
    border-radius: 3px;
    background-color: #fff;
}

.tmp-cate-editor .tmp-cate-editor-groups .tmp-cate-editor-groups_header .tmp-cate-editor-groups__header-select .Select {
    width: 100%;
}

.Select.Select--light {
    min-width: 62px;
}

.Select {
    display: inline-block;
    vertical-align: top;
    width: auto;
    position: relative;
    box-sizing: border-box;
}

.tmp-cate-editor .tmp-cate-editor-groups .tmp-cate-editor-groups_header .tmp-cate-editor-groups__header-select .Select .Select-control {
    height: 30px;
}

.Select.Select--light .Select-control {
    height: 34px;
    border: 0 none;
    background-color: transparent;
    box-shadow: none !important;
}

.Select .Select-control {
    display: block;
    overflow: visible;
    width: auto;
}

.Select-control {
    background-color: #fff;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #333;
    cursor: default;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 36px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.tmp-cate-editor .tmp-cate-editor-groups .tmp-cate-editor-groups_header .tmp-cate-editor-groups__header-select .Select .Select-value, .tmp-cate-editor .tmp-cate-editor-groups .tmp-cate-editor-groups_header .tmp-cate-editor-groups__header-select .Select .Select-placeholder, .tmp-cate-editor .tmp-cate-editor-groups .tmp-cate-editor-groups_header .tmp-cate-editor-groups__header-select .Select .Select-input, .tmp-cate-editor .tmp-cate-editor-groups .tmp-cate-editor-groups_header .tmp-cate-editor-groups__header-select .Select .Select-arrow-zone {
    height: 30px;
    line-height: 32px;
}

.Select.Select--light .Select-control .Select-value, .Select.Select--light .Select-control .Select-placeholder {
    margin-right: 18px;
    line-height: 34px;
    color: #878787;
}

.Select .Select-control .Select-value, .Select .Select-control .Select-placeholder {
    position: relative;
    z-index: 1;
    margin-right: 25px;
    cursor: pointer;
}

.Select-placeholder, .Select--single > .Select-control .Select-value {
    bottom: 0;
    color: #aaa;
    left: 0;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Select .Select-control .Select-input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 34px;
    padding: 0;
}

.Select-input {
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

.Select.Select--light .Select-arrow-zone {
    top: 0;
    right: 0;
    width: auto;
    height: 34px;
    padding-right: 10px;
    line-height: 36px;
}

.Select .Select-arrow-zone {
    position: absolute;
    top: -1px;
    right: -1px;
    height: 36px;
    line-height: 36px;
}

.Select-control > *:last-child {
    padding-right: 5px;
}

.Select-arrow-zone {
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 25px;
    padding-right: 5px;
}

.Select.Select--light .Select-arrow-zone .Select-arrow {
    border-width: 5px 4px 3px;
    border-top-color: #a8a8a8;
}

.Select-arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 2.5px;
    display: inline-block;
    height: 0;
    width: 0;
    position: relative;
}

.tmp-cate-editor .tmp-cate-editor-groups .tmp-cate-editor-groups_header .tmp-cate-editor-groups__header-button-move {
    position: absolute;
    top: 9px;
    right: 10px;
}

.ra-button {
    display: inline-block;
    min-width: 80px;
    width: auto;
    padding: 5px 10px 6px;
    height: 32px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    font-size: 14px;
    line-height: 21px;
    color: #525355;
    background-color: #fff;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: background-color 0.5s, border 0.5s;
}

.tmp-cate-editor .tmp-cate-editor-groups .tmp-cate-editor-groups__content .tmp-cate-editor-groups__item {
    overflow: hidden;
    position: relative;
    height: 48px;
    margin: -1px;
    border: 1px solid #dcdfe4;
    line-height: 48px;
}
.tmp-cate-editor .tmp-cate-editor-groups .tmp-cate-editor-groups__content .tmp-cate-editor-groups__item .tmp-cate-editor-groups__item-check-box {
    margin-left: 17px;
}

.tmp-cate-editor .tmp-cate-editor-groups .tmp-cate-editor-groups__content .tmp-cate-editor-groups__item .tmp-cate-editor-groups__item-body {
    display: inline-block;
    position: relative;
    height: 100%;
    margin-left: 10px;
    margin-right: 5px;
}

.tmp-cate-editor .tmp-cate-editor-groups .tmp-cate-editor-groups__content .tmp-cate-editor-groups__item.tmp-cate-editor-groups__item--private .ico-lock {
    display: inline-block;
    visibility: visible;
}

.tmp-cate-editor .tmp-cate-editor-groups .tmp-cate-editor-groups__content .tmp-cate-editor-groups__item .ico-lock {
    display: none;
    position: relative;
    visibility: hidden;
    width: 8px;
    height: 10px;
    vertical-align: 0;
    margin-right: 50px;
}

.tmp-cate-editor .tmp-cate-editor-cates .tmp-cate-editor-cates_header .tmp-cate-editor-cates__header-button-add {
    position: absolute;
    top: 16px;
    right: 18px;
}

.icon-button {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    color: transparent;
}

.tmp-cate-editor .tmp-cate-editor-cates .tmp-cate-editor-cates_header .tmp-cate-editor-cates__header-button-add .ico.ico-plus {
    width: 13px;
    height: 13px;
}

.tmp-cate-editor .tmp-cate-editor-cates .tmp-cate-editor-cates_header .tmp-cate-editor-cates__header-button-add .ico.ico-plus svg g, .tmp-cate-editor .tmp-cate-editor-cates .tmp-cate-editor-cates_header .tmp-cate-editor-cates__header-button-add .ico.ico-plus svg path {
    fill: #6c6c6c;
}

.tmp-cate-editor .tmp-cate-editor-cates .tmp-cate-editor-cates_content .tmp-cate-editor-cates__item .tmp-cate-editor-cates__item-button-edit {
    display: none;
    position: absolute;
    top: 15px;
    right: 29px;
}

.tmp-cate-editor .tmp-cate-editor-cates .tmp-cate-editor-cates_content .tmp-cate-editor-cates__item .tmp-cate-editor-cates__item-button-edit .ico.ico-mode_edit {
    width: 14px;
    height: 14px;
}

.tmp-cate-editor .tmp-cate-editor-cates .tmp-cate-editor-cates_content .tmp-cate-editor-cates__item .tmp-cate-editor-cates__item-button-delete {
    display: none;
    position: absolute;
    top: 15px;
    right: 0;
}

.tmp-cate-editor .tmp-cate-editor-cates .tmp-cate-editor-cates_content .tmp-cate-editor-cates__item .tmp-cate-editor-cates__item-button-delete .ico-delete_ {
    width: 12px;
    height: 14px;
}

.tmp-cate-editor .tmp-cate-editor-cates .tmp-cate-editor-cates_content .tmp-cate-editor-cates__item .tmp-cate-editor-cates__item-handle {
    position: absolute;
    top: 16px;
    right: 17px;
    width: 16px;
    height: 16px;
    cursor: move;
}

.tmp-cate-editor .tmp-cate-editor-cates .tmp-cate-editor-cates_content .tmp-cate-editor-cates__item .tmp-cate-editor-cates__item-handle .ico.ico-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
}

.tmp-cate-editor .tmp-cate-editor-cates .tmp-cate-editor-cates_content .tmp-cate-editor-cates__item .tmp-cate-editor-cates__item-handle .ico.ico-menu svg g, .tmp-cate-editor .tmp-cate-editor-cates .tmp-cate-editor-cates__content .tmp-cate-editor-cates__item .tmp-cate-editor-cates__item-handle .ico.ico-menu svg path {
    fill: #a8a8a8;
}

.tmp-cate-editor .tmp-cate-editor-cates .tmp-cate-editor-cates_content .tmp-cate-editor-cates__item .tmp-cate-editor-cates__item-input {
    display: inline-block;
    width: 181px;
    height: 34px;
    margin-left: 11px;
    padding: 0 8px;
    border-radius: 2px;
    background-color: #fffbe7;
    border: solid 1px #eae7d5;
    vertical-align: 0;
}

.tmp-cate-editor .tmp-cate-editor-cates .tmp-cate-editor-cates_content .tmp-cate-editor-cates__item .tmp-cate-editor-cates__item-button-submit {
    position: absolute;
    top: 18px;
    right: 46px;
}

.tmp-cate-editor .tmp-cate-editor-cates .tmp-cate-editor-cates_content .tmp-cate-editor-cates__item .tmp-cate-editor-cates__item-button-cancel {
    position: absolute;
    top: 17px;
    right: 19px;
}

.tmp-cate-editor .tmp-cate-editor-cates .tmp-cate-editor-cates_content .tmp-cate-editor-cates__item .tmp-cate-editor-cates__item-button-submit .ico.ico-check {
    width: 14px;
    height: 10px;
}

.tmp-cate-editor .tmp-cate-editor-cates .tmp-cate-editor-cates_content .tmp-cate-editor-cates__item .tmp-cate-editor-cates__item-button-cancel .ico.ico-x_clear {
    width: 12px;
    height: 12px;
}

.ra-checkbox .ico-check svg {
    width: 12px;
    height: 8px;
    margin-top: 4px;
}

.ra-checkbox g {fill: #fff;}

.Select select{width: 220px; height: 30px; vertical-align: top; border: 0px solid #ccc;}

/* Group Page CSS */

.page-header .page-header__title:last-child {
    padding-bottom: 10px;
    border-bottom: 2px solid #6c6c6c;
}

.page-header .page-header__title {
    font-weight: 200;
    font-size: 24px;
    line-height: 32px;
    color: #333;
}

.group-new-page .group-new-page__body {
    padding: 35px 52px 60px;
}

.ibox {
    margin-top: 20px;
    padding: 36px 45px 70px;
    border: 1px solid #dcdfe4;
    border-radius: 2px;
    color: #333;
    background-color: #fff;
}

.ibox:after {
    display: block;
    clear: both;
    content: '';
}

.screen-hide {
    overflow: hidden;
    position: relative;
    top: -1px;
    left: -1px;
    width: 1px;
    height: 1px;
    line-height: 0;
    text-indent: -9999px;
}

.group-new-page .group-new-page__body th {
    width: 100%;
    padding-top: 15px;
    padding-right: 14px;
    font-weight: normal;
    text-align: left;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.group-new-page .group-new-page__body td {
    width: 500px;
    padding: 15px 0;
}

.group-new-page .group-new-page__body .group-new-page__is-public-row label {
    display: block;
}

.ra-choicebox-label {
    display: inline-block;
    font-size: 14px;
    line-height: 19px;
    color: #333;
    vertical-align: middle;
    cursor: pointer;
}

.ra-choicebox-label .ra-radiobox {
    margin-right: 5px;
    vertical-align: top;
}

.ra-radiobox {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    border-radius: 18px;
}

.ra-radiobox input {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: none;
    opacity: .01;
    cursor: pointer;
}

.ra-radiobox .ico-check {
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #d8d8d8;
    border-radius: 18px;
    background-color: #fff;
}

.ra-radiobox.ra-radiobox--active .ico-check:after {
    background-color: #5985E0;
}

.ra-radiobox .ico-check:after {
    display: block;
    content: '';
    width: 8px;
    height: 8px;
    margin: 4px;
    border-radius: 8px;
}

.group-new-page .group-new-page__body .group-new-page__is-public-row label + label {
    margin-top: 18px;
}

.group-new-page .group-new-page__body .group-new-page__is-public-row label p {
    margin-left: 22px;
    font-size: 12px;
    color: #808080;
}

.group-new-page .group-new-page__body .group-new-page__title-row th, .group-new-page .group-new-page__body .group-new-page__title-row td, .group-new-page .group-new-page__body .group-new-page__description-row th, .group-new-page .group-new-page__body .group-new-page__description-row td {
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
}

.group-new-page .group-new-page__body th {
    width: 100%;
    padding-top: 15px;
    padding-right: 14px;
    font-weight: normal;
    text-align: left;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.group-new-page .group-new-page__body td {
    width: 500px;
    padding: 15px 0;
}

.group-new-page .group-new-page__body .ra-input {
    width: 400px;
}

.ra-input {
    height: 36px;
    padding: 0 10px;
    border: 1px solid #ececec;
    border-radius: 2px;
    line-height: 36px;
    background-color: #f9fafc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ra-input-hint {
    margin-left: 10px;
    color: #a8a8a8;
}

.group-new-page .group-new-page__body .group-new-page__description-row th {
    vertical-align: top;
}

.group-new-page .group-new-page__body .group-new-page__description-row .ra-textfield {
    padding-right: 3px;
}

.group-new-page .group-new-page__body .ra-textarea {
    display: block;
    width: 500px;
    margin-bottom: 12px;
}

.ra-textarea {
    height: 74px;
    padding: 8px 10px;
    border: 1px solid #ececec;
    border-radius: 2px;
    line-height: 20px;
    background-color: #f9fafc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: vertical;
}

.ra-textfield {
    position: relative;
    overflow: hidden;
}

.ra-textfield__overlay {
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    background: transparent;
    padding: inherit;
    font: inherit;
    overflow: visible;
}

.ra-textfield__textarea, .ra-textfield__overlay {
    display: block;
    overflow: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0 none;
    background: transparent;
    font: inherit;
    line-height: inherit;
    color: inherit;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    outline: none;
    resize: none;
    box-shadow: none;
}

.group-new-page .group-new-page__body .group-new-page__description-row textarea {
    overflow: auto;
}

.ra-textfield__textarea {
    position: relative;
    min-height: 100%;
    overflow: hidden;
}

.group-new-page .group-new-page__controls {
    position: relative;
    margin-top: 45px;
    padding-top: 20px;
    border-top: 1px solid #d8d8d8;
    text-align: center;
}

.ra-button {
    display: inline-block;
    min-width: 80px;
    width: auto;
    padding: 5px 10px 6px;
    height: 32px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    font-size: 14px;
    line-height: 21px;
    color: #525355;
    background-color: #fff;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: background-color 0.5s, border 0.5s;
}

.ra-button.ra-button--accent:disabled {
    border-color: rgba(88, 132, 224, 0.2);
    background-color: rgba(88, 132, 224, 0.7);
}

.ra-button + .ra-button {
    margin-left: 5px;
}

.ra-button.ra-button--accent {
    border-color: #5884e0;
    background-color: #5884e0;
    color: #fff;
}

.ra-button:disabled {
    cursor: default;
}

.group-new-page .group-new-page__controls .group-new-page__preview-button {
    position: absolute;
    right: 0;
}

.group-header__image {
    width: 100%;
    height: 175px;
    position: absolute;
    border-radius: 2px 2px 0 0;
    background: no-repeat 50%;
    -webkit-background-size: cover;
    background-size: cover;
}

.group-header__image:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2px 2px 0 0;
    background-color: rgba(0, 0, 0, 0.2);
    content: "";
}

.group-header__image div {
    width: 100%;
    height: 100%;
    background: no-repeat 50%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.group-header__body {
    position: relative;
    padding: 25px 18px 21px 30px;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
}

.group-header__body .group-header__info {
    margin-bottom: 19px;
    min-height: 78px;
}

.group-header__body .group-header__title {
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.group-header__body .group-header__title .group-header__title-link {
    color: #fff;
}

.group-header__body .group-header__short-desc {
    margin-bottom: 6px;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.group-header__body .group-header__meta .group-header__private-group .ico {
    width: 8px;
    height: 10px;
    padding-right: 5px;
    padding-bottom: 2px;
}

.group-header__body .group-header__meta .group-header__private-group .ico svg {
    width: 8px;
    height: 10px;
}

.group-header__body .group-header__meta .middle-dot {
    margin: 0 6px 0 7px;
    background-color: rgba(255, 255, 255, 0.8);
}

.middle-dot {
    display: inline-block;
    overflow: hidden;
    width: 3px;
    height: 3px;
    margin: 0 6px;
    border-radius: 3px;
    background-color: #D8D8D8;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    vertical-align: 2px;
}

.group-header__body .group-header__meta .group-header__master-nickname {
    border-radius: 2px;
    padding: 3px 3px 3px 2px;
}

.group-header__body .group-header__controls:after {
    clear: both;
    content: "";
    display: block;
}

.group-header__body .group-header__controls .group-header__shared-planets-wraper, .group-header__body .group-header__controls .group-header__config-menu-button-wraper {
    float: right;
}

.group-header__body .group-header__controls > span {
    display: inline;
    float: left;
}

.ra-popover__trigger {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

.ra-config__button {
    overflow: hidden;
    padding: 8px 18px 7px 9px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50px;
    font-size: 12px;
    line-height: 15px;
}

.ra-config__button .ico {
    vertical-align: top;
    width: 14px;
    height: 14px;
}

.ra-config__button .ico + span {
    margin-left: 4px;
}

.ra-config__button .ico-expand {
    margin-left: 3px;
    margin-top: 3px;
    width: 9px;
    height: 9px;
}

.ra-config__button .ico-expand svg {
    width: 9px;
    height: 9px;
}

.ra-config__button .ico svg g, .ra-config__button .ico svg path {
    fill: #fff;
}

.group-header__footer {
    position: relative;
    overflow: hidden;
    padding-bottom: 47px;
    border: 1px solid #E6E6E6;
    border-radius: 0 0 2px 2px;
    background-color: #fff;
}

.group-header__footer.group-header__desc--open .group-header__desc {
    display: block;
}

.group-header__footer .group-header__desc--premode {
    word-wrap: break-word;
    white-space: pre-line;
}

.group-header__footer .group-header__desc {
    display: none;
    padding: 30px;
    border-bottom: 1px solid #ECECEC;
}

.group-header__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: #3b3e42;
    word-wrap: break-word;
}

.group-header__desc:before {
    display: table;
    content: "";
}

.group-header__desc:after {
    display: table;
    clear: both;
    content: "";
}

.group-header__footer.group-header__desc--open .group-header__desc-button {
    color: #497BD8;
}

.group-header__footer .group-header__desc-button {
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    height: 47px;
    padding: 0 24px;
    font-size: 14px;
    color: #B4B6B9;
}

.group-header__footer .tab-menu__group {
    position: absolute;
    bottom: 0;
    left: 29px;
}

.ra-tab-menu {
    float: left;
    height: 46px;
}

.ra-tab-menu .ra-tab-menu__item:first-child {
    padding-left: 0;
}

.ra-tab-menu .ra-tab-menu__item {
    overflow: hidden;
    float: left;
    height: 100%;
    padding: 0 10px;
}

.ra-tab-menu .ra-tab-menu__item a, .ra-tab-menu .ra-tab-menu__item button {
    display: block;
    height: 100%;
    padding: 0 4px;
    border-bottom: 4px solid transparent;
    font-size: 14px;
    line-height: 46px;
    color: #D8D8D8;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ra-tab-menu .ra-tab-menu__item--active a, .ra-tab-menu .ra-tab-menu__item--active button {
    border-bottom-color: #7498E2;
    color: #666;
}

.wall-list-page {
    padding-top: 11px;
}

.message-form-group {
    background: #fff;
    margin-bottom: 15px;
    border-radius: 3px;
    border: solid 1px #dfe2e6;
}

.message-form-group .message-form-group__header {
    position: relative;
}

.message-form-group .message-form-group__tabs {
    width: calc(100% - 1px);
    height: 41px;
    border-bottom: solid 1px #dfe2e6;
    background-color: #f3f3f5;
}

.message-form-group .message-form-group__tabs .message-form-group__tab {
    float: left;
    background-color: #f3f3f5;
    box-shadow: -1px 0 0 0 #dfe2e6, 1px 0 0 0 #dfe2e6, 0 1px 0 0 #dfe2e6;
}

.message-form-group .message-form-group__tabs .message-form-group__tab.message-form-group__tab--active {
    background-color: #fff;
    box-shadow: -1px 0 0 0 #dfe2e6, 1px 0 0 0 #dfe2e6;
    height: 42px;
}

.message-form-group .message-form-group__tabs .message-form-group__tab button {
    min-width: 90px;
    padding-left: 10px;
    padding-right: 10px;
    height: 41px;
}

.message-form-group .message-form-group__tabs .message-form-group__tab button .ico {
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.message-form-group .message-form-group__tabs .message-form-group__tab button span {
    color: #89898b;
    font-size: 12px;
    line-height: 16px;
}

.message-form-group .message-form-group__body {
    position: relative;
    padding: 20px 20px 30px;
    min-height: 50px;
}

.message-form {
    position: relative;
    width: 100%;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.message-form .message-form__body {
    position: relative;
}

.message-form.message-form--editing .message-form__text-wrap {
    /* border-color: #e3e3e3;
    background-color: #fcfcfc; */
}

.message-form .message-form__body .message-form__text-wrap {
    position: relative;
    /* border: solid 1px #eeeeee; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.message-form.message-form--editing .message-form__text-wrap {
    /* border-color: #e3e3e3;
    background-color: #fcfcfc; */
}

.message-form.message-form--editing .message-form__text-wrap textarea {
	border-color: #e3e3e3;
    background-color: #fcfcfc;
    width: 100%;
}

.message-form .ProseMirror {
    width: calc(100% - 22px);
    padding: 9px 11px;
    border: none;
    border-radius: 0;
}

.ProseMirror {
    width: 677px;
    padding: 20px;
    border: solid 1px #dcdfe4;
    border-radius: 3px;
    font-size: 14px;
    line-height: 22px;
    font-family: "Apple SD Gothic Neo", "Helvetica Neue", "Malgun Gothic", Helvetica, Arial, sans-serif;
    outline: none;
    color: #333333;
    /* background: #fff; */
    word-wrap: break-word;
    white-space: pre-wrap;
}

.ProseMirror__placeholder {
    position: absolute;
    top: 9px;
    left: 11px;
    color: #bbb;
}

.ProseMirror-floating-menu {
    position: absolute;
    background: #444444;
    display: flex;
    visibility: hidden;
    align-items: stretch;
    justify-content: space-between;
    width: 294px;
    box-sizing: border-box;
    height: 36px;
    padding: 0 12px;
    border-radius: 2px;
    z-index: 1;
    transition: transform .3s, opacity .3s;
    opacity: 0.6;
    transform: translateY(3px);
}

.ProseMirror-floating-menu__button--h1, .ProseMirror-floating-menu__button--h2 {
    padding: 5px;
}

.ProseMirror-floating-menu__button {
    display: block;
    flex: 0 1 auto;
    box-sizing: content-box;
    border: none;
    width: 16px;
    height: 16px;
    padding: 5px 3px;
    margin: 5px 0;
    color: #fff;
    background: transparent;
    float: left;
    outline: none;
    cursor: pointer;
}

.ProseMirror-floating-menu__divider {
    display: block;
    flex: 0 1 auto;
    width: 1px;
    height: 20px;
    box-sizing: content-box;
    opacity: 0.8;
    margin: 8px 7px;
    background-color: #606060;
    float: left;
}

.ProseMirror-floating-menu__link-dialog {
    position: absolute;
    visibility: hidden;
    padding: 8px;
    border-radius: 2px;
    border: solid 1px #d0d0d0;
    background-color: #fafafa;
    box-sizing: border-box;
    z-index: 1;
    transition: transform .3s, opacity .3s;
    opacity: 0.6;
    transform: translateY(-3px);
}

.ProseMirror-floating-menu__link-dialog label {
    font-size: 12px;
    font-weight: 500;
    color: #333333;
    margin: 0 1px;
}

.ProseMirror-floating-menu__link-dialog input {
    width: 232px;
    height: 22px;
    border: solid 1px #c7c7c7;
    line-height: 22px;
    font-family: Helvetica;
    font-size: 12px;
    color: #333;
    padding: 0 5px;
    outline: none;
}

.ProseMirror-floating-menu__link-dialog button {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    border-radius: 3px;
    padding: 3px 11px 4px;
    border: solid 1px #d2d2d2;
    outline: none;
}

.message-form__resize-handle {
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: solid 1px #e3e3e3;
    height: 5px;
    width: 100%;
    display: none;
    background-color: #fff;
}

.message-form__resize-handle .message-form__resize-handle-button {
    border-top: solid 1px #c0c0c0;
    border-bottom: solid 1px #c0c0c0;
    height: 1px;
    width: 12px;
    display: block;
    margin: 1px auto;
}

.mention-autocomplete {
    position: absolute;
    z-index: 2000;
    width: 248px;
    border: 1px solid #D5D5D5;
    border-radius: 2px;
    background-color: #fff;
    max-height: 250px;
}

.mention-autocomplete .mention-autocomplete__list {
    max-height: 184px;
    overflow-x: hidden;
    overflow-y: auto;
}

.mention-autocomplete.mention-autocomplete--empty .mention-autocomplete__static-list {
    border-top: none;
}

.mention-autocomplete .mention-autocomplete__static-list {
    border-top: 1px solid #dfdfdf;
    font-size: 13px;
    padding: 5px 0;
}

.mention-autocomplete .mention-autocomplete__static-list li:first-child {
    padding-top: 5px;
}

.mention-autocomplete .mention-autocomplete__static-list li {
    padding: 0 0 0 11px;
    line-height: 1.7;
    cursor: pointer;
}

.mention-autocomplete .mention-autocomplete__static-list li:last-child {
    padding-bottom: 5px;
}

.message-form .message-form__file-drop-label {
    display: none;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 0;
    width: 100%;
    font-size: 13px;
    color: #27ae60;
}

.attachments-box {
    margin-top: 2px;
}

.attachments-box--form {
    margin: 10px 0 0;
    display: none;
}

.attachments-box .attachments-box__file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    visibility: hidden;
}

.message-form .message-form__footer {
    position: relative;
    height: 28px;
    padding-top: 10px;
}

.message-form .message-form__footer .message-form__footer-leftalign {
    height: 28px;
}

.message-form .message-form__footer .message-form__footer-leftalign .message-form__attach-file {
    display: inline-block;
    padding: 2px 10px 3px 7px;
    margin-right: 6px;
    border-radius: 3px;
    border: solid 1px #e3e3e3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.message-form .message-form__footer .message-form__footer-leftalign .message-form__attach-file .message-form__attach-file-label {
    font-size: 12px;
    line-height: 12px;
    color: #89898b;
}

.message-form-submit-control {
    position: absolute;
    right: 0;
    bottom: -4px;
}

.message-form-submit-control .ra-popover__trigger {
    vertical-align: baseline;
}

.ra-popover__trigger {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}


.message-form-submit-control .message-form-submit-control__scheduled {
    margin: 0 18px 0 0;
}

.message-form-submit-control .message-form-submit-control__icon-label {
    display: inline-block;
    color: #939395;
}

.message-form-submit-control .message-form-submit-control__icon-label .ico {
    margin-right: 3px;
}

.message-form-submit-control .message-form-submit-control__submit-button, .message-form-submit-control .message-form-submit-control__cancel-button {
    font-weight: 500;
    font-size: 13px;
}

.message-form-submit-control .message-form-submit-control__submit-button, .message-form-submit-control .message-form-submit-control__cancel-button {
    font-weight: 500;
    font-size: 13px;
}

.message-form-submit-control:after {
    clear: both;
    content: "";
    display: block;
}

button {
    vertical-align: middle;
    cursor: pointer;
}
.ProseMirror p {
    margin: 0;
}



/* 직접 하는거 */
.wall-board {background-color: #fff; width: 100%; border: solid 1px #dfe2e6; padding: 20px; position: relative; max-width: 690px;}

.wall-board .board-header {padding-left: 58px; margin-bottom: 28px; position: relative;}
.wall-board .board-header .board-header-profile {position: absolute; top: 0; left: 0px; width: 50px; height: 50px;}
.wall-board .board-header .board-header-meta {padding-top: 10px;}
.wall-board .board-header .board-header-meta .board-header-meta-id {line-height:21px; font-size:17px; font-weight: bold;}
.wall-board .board-header .board-header-meta .board-header-meta-date {color: #979797;}


.board-body, .board-footer, .board-footer-modify {padding-left: 10px;}


.board-body .board-body-attach {margin-top: 5px;}
.board-body .board-body-attach .board-body-attach-header{
	padding-bottom:7px;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 5px;
}
.board-body .board-body-attach .board-body-attach-header label{
	display: inline-block;
    padding-top: 8px;
    font-size: 12px;
    line-height: 20px;
    color: #979797;
    vertical-align: top;
    cursor: pointer;
}

.board-body .board-body-attach .attach-list li {
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 7px;
	margin-bottom: 5px;
	width: 100%;
}
.board-body .board-body-attach .attach-list li a {color: #5A86DD;}


.board-footer {margin-top: 20px; position: relative;}
.board-footer-modify {margin-top: 20px; position: relative;}
.board-footer .msg-button {display: inline-block; height: 22px; margin-right: 10px; padding: 0 6px; border: 1px solid #e0e0e0; border-radius: 2px;
    font-size: 13px;
    line-height: 22px;
    color: #5C5C5C;
    text-align: center;
    vertical-align: top;
}
.board-footer .msg-button .num-count {
    padding-left: 4px;
    color: #5985DC;
}

.board-footer .board-setting-btn {
	border: 1px solid #e0e0e0;
	width: 27px;
	height: 24px;
	display: inline-block;
	vertical-align: top;
}

.board-footer .board-setting-menu {
	position: absolute;
	z-index: 10;
	top: 29px;
	right: 10px;
	border : 1px solid #dcdfe4;
}

.board-footer .board-setting-menu li {
	display: block;
	height: 32px;
	border-bottom: 1px solid #dcdfe4;
	background-color: #fff;
}

.board-footer .board-setting-menu li:last-child {
	border-bottom: none;
}

.board-footer .board-setting-menu li:hover {
	background-color: lightgrey;
}

.board-footer .board-setting-menu li button {
	width: 100%;
	height: 100%;
	line-height: 33px;
	vertical-align: middle;
	padding: 0 10px;
}

.link-copy-btn {
	border: 1px solid #e0e0e0;
	width: 27px;
	height: 24px;
	display: inline-block;
	vertical-align: top;
}

.float-right { float: right;}


.wall-comment {background-color: #fafbfc; width: 100%; border: solid 1px #dfe2e6; padding: 20px; position: relative; max-width: 680px; border-top: none; padding-left: 30px; border-bottom: none;}

.wall-comment .comment-header {padding-left: 50px; margin-bottom: 6px; position: relative;}
.wall-comment .comment-header .comment-header-profile {position: absolute; top: 0; left: 0px; width: 38px; height: 38px;}
.wall-comment .comment-header .comment-header-meta {padding-top: 1px;}
.wall-comment .comment-header .comment-header-meta .comment-header-meta-id {line-height:17px; font-size:13px; font-weight: bold;}
.wall-comment .comment-header .comment-header-meta .comment-header-meta-date {color: #979797; font-size:11px;}

.comment-footer .comment-setting-btn {
	border: 1px solid #e0e0e0;
	width: 27px;
	height: 24px;
	display: inline-block;
	vertical-align: top;
}

.comment-footer .comment-like-btn {
	border: 1px solid #e0e0e0;
	width: 27px;
	height: 24px;
	display: inline-block;
	vertical-align: top;
}

.comment-footer .comment-dislike-btn {
	border: 1px solid #e0e0e0;
	width: 27px;
	height: 24px;
	display: inline-block;
	vertical-align: top;
}


.wall-board-item {margin-bottom: 25px;}

.comment-body, .comment-footer {padding-left: 50px;}
.comment-footer {margin-top: 10px;padding-bottom: 0; position: relative;}

.comment-input {background-color: #f7f9fb; width: 100%; border: solid 1px #dfe2e6; padding: 20px; position: relative; max-width: 630px; border-top: none; padding-left: 80px; padding-top: 20px;}
.comment-input textarea {
	width: 100%;
	border-color: #e3e3e3;
    background-color: #fcfcfc;
}

.comment-input .comment-input-footer {
	margin-top: 10px;
}

.comment-input .comment-input-footer .message-form__attach-file{
    display: inline-block;
    padding: 2px 10px 3px 7px;
    margin-right: 6px;
    border-radius: 3px;
    border: solid 1px #e3e3e3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.comment-input .comment-input-footer .comment-input-btn {
	width: 78px; height: 31px; border-color: #5884e0; background-color: #5884e0; color: #fff; padding: 5px 10px 6px; font-weight: 500;
	border-radius: 3px;
}

.comment-input .comment-input-footer .comment-input-btn:disabled{
	border-color: rgba(88, 132, 224, 0.2);
    background-color: rgba(88, 132, 224, 0.7);
}

.board-insert-attach-list {border-bottom: 1px solid #e3e3e3; font-size: 13px; padding-top: 5px; padding-bottom: 5px;}
.board-insert-attach-list li {display: block;}
.board-insert-attach-list .file-name {color: #5A86DD;}
.board-insert-attach-list .file-delete {cursor: pointer; color: red; font-weight: 800;}

.board-body .board-body-modify textarea {
	border-color: #e3e3e3;
    background-color: #fcfcfc;
    width: 100%;
}

.board-body .board-body-modify ul {
	margin-top: 5px;
	border-bottom: 1px solid #e3e3e3;
	padding-bottom: 5px;
}

.board-body .board-body-modify ul li:not(".hide"){
	display: block;
}

.board-body .board-body-modify ul li .file-name{
	color: #5A86DD;
}

.board-body .board-body-modify ul li .file-delete{
	cursor: pointer; color: red; font-weight: 800;
}

.board-body .board-modify-attach-list li:not(".hide") {
	display: block;
}

.block {
	display: block;
}

.comment-insert-attach-list {border-bottom: 1px solid #e3e3e3; font-size: 13px; padding-top: 5px; padding-bottom: 5px;}
.comment-insert-attach-list li {display: block;}
.comment-insert-attach-list .file-name {color: #5A86DD;}
.comment-insert-attach-list .file-delete {cursor: pointer; color: red; font-weight: 800;}

.comment-input .message-form__attach-file {background-color: #fafbfc;}

.comment-body .comment-body-attach {margin-top: 5px;}
.comment-body .comment-body-attach .comment-body-attach-header{
	padding-bottom:7px;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 5px;
}
.comment-body .comment-body-attach .comment-body-attach-header label{
	display: inline-block;
    padding-top: 8px;
    font-size: 12px;
    line-height: 20px;
    color: #979797;
    vertical-align: top;
    cursor: pointer;
}

.comment-body .comment-body-attach .attach-list li {
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 7px;
	margin-bottom: 5px;
	width: 100%;
}
.comment-body .comment-body-attach .attach-list li a {color: #5A86DD;}

.comment-footer .comment-setting-menu {
	position: absolute;
	z-index: 10;
	top: 29px;
	right: 10px;
	border : 1px solid #dcdfe4;
}

.comment-footer .comment-setting-menu li {
	display: block;
	height: 32px;
	border-bottom: 1px solid #dcdfe4;
	background-color: #fff;
}

.comment-footer .comment-setting-menu li:last-child {
	border-bottom: none;
}

.comment-footer .comment-setting-menu li:hover {
	background-color: lightgrey;
}

.comment-footer .comment-setting-menu li button {
	width: 100%;
	height: 100%;
	line-height: 33px;
	vertical-align: middle;
	padding: 0 10px;
}

.comment-body .comment-body-modify textarea {
	border-color: #e3e3e3;
    background-color: #fff;
    width: 100%;
}

.comment-body .comment-body-modify ul {
	margin-top: 5px;
	border-bottom: 1px solid #e3e3e3;
	padding-bottom: 5px;
}

.comment-body .comment-body-modify ul li:not(".hide"){
	display: block;
}

.comment-body .comment-body-modify ul li .file-name{
	color: #5A86DD;
}

.comment-body .comment-body-modify ul li .file-delete{
	cursor: pointer; color: red; font-weight: 800;
}

.comment-body .comment-modify-attach-list li:not(".hide") {
	display: block;
}

.comment-footer-modify {margin-top: 20px; position: relative; padding-left: 50px; padding-bottom: 5px;}


.feedback-button {
    display: inline-block;
    height: 24px;
    margin-right: 10px;
    vertical-align: top;
    position: relative;
}

.feedback-button .feedback-button__thumb {
    display: inline-block;
    overflow: hidden;
    width: 28px;
    height: 24px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
}

.feedback-button.on .feedback-button__thumb {
    border-color: #5985E0;
    background-color: #5985E0;
}

.ra-popover__trigger {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

.feedback-button .feedback-button__count {
    display: inline-block;
    position: relative;
    min-width: 28px;
    height: 24px;
    margin-left: 6px;
    padding: 0 7px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    font-size: 13px;
    line-height: 24px;
    color: #5985DC;
    background-color: #fff;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
}

.feedback-button .feedback-button__count:after {
    display: block;
    position: absolute;
    top: 7px;
    left: -4px;
    width: 6px;
    height: 6px;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background-color: #fff;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(
45deg);
    transform: rotate(
45deg);
    content: '';
}

.feedback-button .feedback-button__thumb .ico {
    display: block;
    width: 16px;
    height: 15px;
    margin: 0 auto 2px;
}

.feedback-button .feedback-button__thumb .ico svg {
    width: 16px;
    height: 15px;
}
.feedback-button.on .feedback-button__thumb .ico svg g {fill:#fff;}

.feedback-button .like-list {
	position: absolute;
	top: 30px;
	left: 0;
	display: inline-block;
	width: 160px;
	height: 194px;
	border: 1px solid #d0d0d0;
    border-radius: 2px;
    z-index: 12;
    background-color: #fff;
}

.feedback-button .like-list .like-list-header {
	height: 28px;
    font-size: 11px;
    line-height: 28px;
    color: #5985e0;
    text-indent: 10px;
    border-bottom: solid 1px #5985e0;
}

.feedback-button .like-list .like-list-header .like-list-close {
	float: right;
	color: red;
	font-weight: 600;
	line-height: 28px;
	padding-right: 5px;
}

.feedback-button .like-list .like-list-body {
	
}

.feedback-button .like-list .like-list-body ul {
}

.feedback-button .like-list .like-list-body ul li{
	display: block;
	height: 33px;
	overflow: hidden;
	padding-left: 8px;
	font-size: 12px;
    border-bottom: solid 1px #dcdfe4;
	line-height: 33px;
}

.like-list.hide {
	display: none;
}

