@charset "UTF-8";

body {background-color: #f5f5f5;}

.transparent {background-color: transparent;}

.work-contents {width: 88%; position: relative; z-index: 0;}
.work-basic-layout {width: 990px; margin: 101px auto 0; padding: 0 15px;}
.work-basic-layout .work-basic-layout-lnb {float: left; width: 26%;}

.navbar {width: auto; height: 100%; padding-right: 20px; box-sizing: border-box;}
.navbar-myprofile {margin-bottom: 10px; border: 1px solid #dcdfe4; border-radius: 2px; background-color: white;}
.navbar-myprofile .navbar-myprofile-wrap {position: relative;}
.navbar-myprofile .navbar-myprofile-wrap .navbar-myprofile-image {position: absolute; top: 19px; left: 14px;}
.navbar-myprofile .navbar-myprofile-wrap .navbar-myprofile-image .navbar-myprofile-avatar{display: block; margin: 0 auto;}
.avatar {display: inline-block; position: relative; border-radius: 50%; background-color: #ebebeb; background-origin: padding-box; background-position: 50% 50%; background-size: cover; box-shadow: inset 0 0 1px rgb(0,0,0,0.2); vertical-align: top;}

.navbar-myprofile .navbar-myprofile-wrap .navbar-myprofile-name {padding: 30px 0 23px 79px; line-height: 18px; max-width: 116px;}
.navbar-myprofile a {display: block;}
.navbar-myprofile .navbar-myprofile-wrap .navbar-myprofile-name .navbar-myprofile-id {font-weight: bold; font-size: 15px; color: #202239; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.navbar-myprofile .navbar-myprofile-wrap .navbar-myprofile-name .navbar-myprofile-nickname {font-size: 13px; color: #202239; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.navbar-myprofile .navbar-myprofile-wrap .navbar-myprofile-name .navbar-myprofile-nickname a {color: #9c9c9c; text-decoration: underline !important;}

.navbar-mylist {overflow: hidden; width: 100%; border-top: 1px solid #ecedef;}
.navbar-mylist li {float: left; width: 25%; height: 63px; text-align: center;}
.navbar-mylist li:first-child a {border-left: 0 none;}
.navbar-mylist li a {display: block; overflow: hidden; height: 100%; border-left: 1px solid #ecedef; font-size: 11px; color: #888888;}
.navbar-mylist li .mylist-item-text {display: block;}

.navbar-member-buttons {overflow: hidden; margin-bottom: 10px; border: 1px solid #dcdfe4; border-radius: 2px; background-color: white;}
.navbar-member-buttons.transparent li{clear:both; float:inherit;}
.navbar-member-buttons li:first-child {border-right: none;}
.navbar-member-buttons li {width: 100%; height: 44px; line-height: 45px; text-align: center; float: left; box-sizing: border-box;}
.navbar-member-buttons li a {display: block; padding-right: 2px; font-size: 14px; color: #5a86dd;}


.navbar-member-buttons.navbar-member-buttons-dual li:first-child {border-right: 1px solid #ecedef; }
.navbar-member-buttons.navbar-member-buttons-dual li {width: 50%;}
.navbar-member-buttons.navbar-member-buttons-dual li:last-child {display: block;}

.navbar-groups-new {position: relative; height: 46px; border-radius: 2px; background-color: #5a86dd;}
.navbar-groups-new .groups-new {display: block; line-height: 47px; width: 100%; text-align: center; left: 5px; font-size: 14px; font-weight: 400; color: white;}

.navbar-groups-option {overflow: hidden; padding: 3px 0 2px; border-bottom: 1px solid #eeeeef; line-height: 32px;}
.screen-out {overflow: hidden; position: absolute; width: 0; height: 0; line-height: 0; text-indent: -9999px;}
.navbar-groups-option button, .navbar-groups-option a {display: inline-block; line-height: 32px; font-size: 13px; color: #979797;}
.navbar-groups-option button {float: right; border: 0 none; border-radius: 0; background-color: transparent; cursor: pointer; outline: none;}

.navbar-groups-list {padding: 4px 0 17px;}
.navbar-groups-list .groups-item {padding: 1px 0; border-bottom: 1px solid #e9e9e9; width: 100%;}
.navbar-groups-list .groups-item .groups-item-title {display: block; position: relative; height: 36px; padding-left: 24px; font-weight: 200; font-size: 14px; line-height: 37px; color: #222;}
.navbar-groups-list .groups-item .groups-item-title .groups-item-name {display: inline-block; overflow: hidden; max-width: 85%; font-weight: 600; white-space: nowrap; text-overflow: ellipsis; vertical-align: top;}
.navbar-groups-list .groups-item .groups-item-title .groups-item-count {display: inline-block; vertical-align: top;}
.navbar-groups-list .groups-item .groups-item-title .groups-folding-icon {position: absolute; top: 10px; left: 0; width: 14px; height: 14px; border: 1px solid #bfbfbf; border-radius: 14px; background-color: white;}

.groups-category-list {padding: 0 0 12px 16px;}
.groups-category-list .category-item {position: relative; height: 25px; line-height: 26px; border-radius: 2px;}
.groups-category-list .category-item a {display: block; overflow: hidden; padding: 0 22px 0 8px; font-size: 14px; color: #808080;}


.work-basic-layout .work-basic-layout-body {float: left; position: relative; width: 74%; margin-bottom: 50px;}
.homepage .home-page-header {color: #363041; margin-bottom: 10px;}
.homepage .home-page-header h2 {display: inline-block; font-weight: 500; float: left; font-size: 16px; line-height: 30px;}
.homepage .home-page-header .home-page-header-link-to {display: inline-block; float: right; font-size: 13px; line-height: 16px;}
.homepage .home-page-header .home-page-header-link-to a {display: inline-block; color: #868686; padding: 6px 11px 6px 8px; border: 1px solid #dcdfe4; border-radius: 3px;}
.homepage .home-page-header:after {content: ""; display: block; clear: both;}

.scroll-container {overflow-x: visible; overflow-y:auto; outline: navy;}
.scroll-container.scroll-container--window {overflow: visible;}

.wall-thread {margin-bottom: 15px; border: 1px solid #dcdfe4; border-radius: 3px; background-color: white; box-shadow: 0 1px 1px rgba(0,0,0,0.05); outline: none;}
.wall-thread-parent {padding: 0 20px 20px;}
.wall-thread-parent:before {display: block; overflow: hidden; clear: both; content: '';}
.wall-msg-group-title {padding: 20px 0 14px; border-bottom: 1px solid #e5e5e5; font-weight: normal; font-size: 14px; line-height: 1;}
.wall-msg-group-title a {color: #333;}

.wall-feed-msg {margin-top: 15px; margin-bottom: 10px; padding-left: 58px; transition : opacity 0.2s cubic-bezier(0.4, 0, 1, 1);}
.wall-feed-msg-content {position: relative;}
.wall-feed-msg-content .wall-feed-msg-profile {position: absolute; top: 0; left: -60px; width: 52px; height: 52px;}
.ra-popover__trigger {display: inline-block; vertical-align: top; cursor: pointer;}

.wall-feed-msg-content .wall-feed-msg-body {position: relative; top: 5px; padding: 0;}
.wall-feed-msg-content .wall-feed-msg-body .wall-feed-msg-actor {display: inline-block; margin-right: 3px; font-weight: bold; font-size: 13px; line-height: 21px;}
.wall-feed-msg-content .wall-feed-msg-body .wall-feed-msg-msg {font-size: 13px; margin-top: 15px;}
.wall-feed-msg-content .wall-feed-msg-body .wall-feed-msg-msg .message {display: inline;}
.wall-feed-msg-content .wall-feed-msg-body .wall-feed-msg-msg .message .marked {display: inline;}
.message * {color: inherit; font-size: inherit; line-height: inherit;}
.wall-feed-msg-content .wall-feed-msg-body .wall-feed-msg-msg .message .marked p:first-child, .wall-feed-msg-content .wall-feed-msg-body .wall-feed-msg-msg .message .marked div.marked__paragraph 
	{
		display: inline;
	}

.message div.marked__paragraph {margin-bottom: 0; word-wrap: break-word; word-break: break-all;}
.message div.marked__paragraph--empty {height: 15px;}

.wall-feed-msg-content .wall-feed-msg-body .wall-feed-msg-meta {font-weight: 400; font-size: 12px; color: #979797;}
.wall-feed-msg-content .wall-feed-msg-body .wall-feed-msg-meta a {color: #979797;}


.category-page .page-header {margin-bottom: 10px;}
.page-header {position: relative;}
.tab {border-bottom: 2px solid #485060;}
.tab .tab__item {display: inline-block; height: 46px; padding: 0 20px; background-color: #fff; border: 1px solid #dcdfe4; border-bottom: none; color: #a6a6a6; font-size: 14px; line-height: 46px; vertical-align: top;}
.tab .tab__item.tab__item--active {color: #497bd8;}
.tmp-cate-editor {
    overflow: hidden;
    min-height: 700px;
    border-top: 1px solid #dcdfe4;
    border-bottom: 1px solid #dcdfe4;
    background-color: #fff;
    color: #404040;
}


