<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poozim.jobcall.mapper.MemberMapper">
	<sql id="search">
		<if test="department != null and department != ''">AND department = #{department}</if>
		<if test="auth != null and auth != ''">AND auth = #{auth}</if>
		<if test="id != null and id != ''">AND id LIKE CONCAT('%', #{id}, '%')</if>
		<if test="name != null and name != ''">AND name LIKE CONCAT('%', #{name}, '%')</if>
	</sql>
	<select id="getMemberList">
		SELECT *
		FROM Member
		WHERE useyn = 'Y'
		AND work_seq = #{work_seq}
		<include refid="search" />
	</select>
</mapper>